POSTGRES_HOST=postgres # хост постгры
POSTGRES_PORT=5432 # порт постгры
POSTGRES_USER=root # юзер постгры
POSTGRES_PASS=1234 # пароль от юзера постгры
POSTGRES_DB=postgres # имя бд постгрес
REDIS_PASSWORD=1234 # пароль для редиски
GRPC_PORT=50051 # порт на котором работает grpc сервер
GRPC_GATEWAY_PORT=8081 # порт grpc gateway