POSTGRES_HOST=localhost # хост постгреса (пока не нужен, т.к. работа с postgres не реализованна)
POSTGRES_PORT=5432 # порт постгреса (пока не нужен, т.к. работа с postgres не реализованна)
POSTGRES_USER=root # юзер постгры (пока не нужен, т.к. работа с postgres не реализованна)
POSTGRES_PASS=1234 # пароль от юзера постгры (пока не нужен, т.к. работа с postgres не реализованна)
POSTGRES_DB=postgres # имя бд постгрес (пока не нужен, т.к. работа с postgres не реализованна)
GRPC_PORT=50051 # порт на котором работает grpc сервер